#!/usr/bin/env python3

class PGUAuthConfig:
    pass

cfg = PGUAuthConfig()

cfg.login=''
cfg.password=''
cfg.UA='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0'


gosuslugi = { 'login': '', 'password' : '' }
